{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}

        {{ form_start(ParticipantForm) }}
        <button>Suivant</button>
        {{ form_end(ParticipantForm) }}


{% endblock %}

