@import "normalize.css";

body {
  background: #f8f8f0;
  min-height: 100vh;
}

main {
  min-height: 75vh;
  margin: 25px;
}

/*Lien animation*/
a, a:link {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  color: #34675c;;
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #34675c;;
  transform: scaleX(0);
  width: 100%;
  height: 3px;
  transform-origin: top right;

  transition: transform 0.6s cubic-bezier(.75,.04,.45,.77);
}

nav a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #34675c;;
  transform: scaleX(0);
  width: 100%;
  height: 3px;
  transform-origin: bottom left;

  transition: transform 0.6s cubic-bezier(.75,.04,.45,.77);
}

nav a:hover::before{
  transform: scaleX(1);
}

nav a:hover::after{
  transform: scaleX(1);
}

table a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #34675c;
  transform: scaleX(0);
  width: 100%;
  height: 1px;
  transform-origin: bottom left;

  transition: transform 0.6s cubic-bezier(.75,.04,.45,.77);
}

table a:hover::after{
  transform: scaleX(1);
}

/*Lien animation*/

/*
    NAV
 */

/*
   Logo animation
*/

.logo{
  height: 70px;
  margin: 5px;
  border-radius: 50%;
  background-color: yellowgreen;
  border: solid 3px;
  transition: border, transform 1s cubic-bezier(.4,.24,.86,.51);
}

.logo:hover{
  transform: rotate(360deg);
}

/*
   Logo animation
*/


nav h1{
  display: flex;
  text-decoration: cadetblue underline;
}

nav,
nav ul,
ul li {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.nav_div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #dee2b6;
  padding: 0;
  margin: 0;
}

.nav_side {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.nav_side_admin {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

/*
    login
 */

.login {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_div {
  background-color: #dee2b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 300px;
  padding:  30px ;
  border: 2px solid;
  border-radius: 20%;
}

.login_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;

}

.login_btn {
  width: 200px;
  height: 50px;
  margin: 20px;

}

.checkbox_mb-3{/*bouton remember me*/
  margin-left: 20px;
}

/*
    main
 */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75px;
  margin: 40px;
  padding: 3px;
  border: solid 1px;
  border-radius: 20% 10% / 20% 10%;
  background-color: #dee2b6;
}

/*
    sorties
 */

.sorties {
  width: 100%;
}

.sorties_table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 50px;
}

.sorties_table td, .sorties_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.sorties_table tr:nth-child(even){background-color: #e4e3dd;}

.sorties_table tr:hover {background-color: #a8b3a8;}

.sorties_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5f9ea0;
  color: white;
}

.array_affichage_sortie{
  margin: 100px;
  border: #34675c solid 2px;
  border-collapse: collapse;

}

.colHead{
  background: #5f9ea0;
}

.colBody{
 background: #e4e3dd;
}

.array_affichage_sortie td:nth-child(odd){color: white;}

.array_affichage_sortie td, .array_affichage_sortie th {
  border: 1px solid #ddd;
  padding: 8px;
}

.array_affichage_sortie th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.array_affichage_sortie tr > td {
  min-height: 20px;
  min-width: 150px;
  max-width: 550px;
}

.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap_section{
  display: flex;
  max-width: 1000px;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin-left: 200px;
  margin-top: 100px;
}
.wrap_section button{
  margin: 50px;
  min-height: 40px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.description_sortie{
  display: block;
  max-height: 70px;
  overflow: auto;
}

.green_box{
  background-color: #dee2b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 300px;
  padding:  30px ;
  border: 2px solid;
  border-radius: 20%;
}

.annuler_sortie_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-size: 18px;

}

.annuler_form{
  display: flex
}

#annuler_sortie_form_infosSortie{
  max-height: 70px;
  max-width: 300px;
  height: 70px;
  width: 300px;
  overflow: auto;
}

.boutons_annuler_sortie{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boutons_annuler_sortie>span{

  margin: 20px;
}

/*
    profil
 */

.profil_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  justify-content: center;
  border: solid 1px;
  align-items: center;
}

.profil_row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  padding: 1em;
  margin-top: 30px ;
}

.profil_btn {
  width: 100px;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profil_form>div{
  display: flex;
  flex-direction: column;
}

#profil_form>div>label{
  align-self: flex-start;
}

#profil_form>div>input{
  align-self: flex-end;
}

.modifier_profil_box{
  background-color: #dee2b6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 500px;
  padding:  30px ;
  border: 2px solid;
  border-radius: 70px;
}

.return_btn {
  color: black;
}

.hidden {
  display: none;
}

.hidden_pain{
  height: 300px;
  margin: 40px;
  border: solid 1px;
  border-radius: 50%;
}