{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block body %}
    <div>
        <div>
            <div>
                <label for="Pseudo">Pseudo:</label>
                <input type = 'text'>
            </div>
            <div>
                <label for="Prenom">Prénom:</label>
                <input type = 'text'>
            </div>
            <div>
                <label for="Nom">Nom:</label>
                <input type = 'text'>
            </div>
            <div>
                <label for="Telephone">Téléphone:</label>
                <input type = 'text'>
            </div>
            <div>
                <label for="Email">Email:</label>
                <input type = 'text'>
            </div>
            <div>
                <label for="Mdp">Mot de passe:</label>
                <input type = 'text'>
            </div>
            <div>
                <label for="MdpConfirm">Confirmation:</label>
                <input type = 'text'>
            </div>
            <div>
                <label for="Campus">Campus:</label>
                <select>
                    <option>TODO</option>
                </select>
            </div>
            <div>
                <label for="Photo">Ma photo:</label>
                <input type = 'image'>
            </div>
        </div>
        <div>
            <button>Enregistrer</button>
            <button>Annuler</button>
        </div>
    </div>
{% endblock %}