{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}

    {{ form_start(sortiesForm) }}
        <button>Enregistrer</button>
        <button>Publier</button>
        <a href={{ path('home') }}><button>Annuler</button></a>
    {{ form_end(sortiesForm) }}

{% endblock %}